<div class="sidenav-area">
  <mat-sidenav-container>
    <mat-sidenav #sideNav mode="over">
      <mat-toolbar>
        <span>Menu</span>
        <span class="spacer"></span>
        <mat-icon class="toolbar-icon" (click)="sideNav.toggle()">close</mat-icon>
        <mat-toolbar-row>
          <span>Second Row</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="demo-filler-content">Filler Content</div>

    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mat-icon class="toolbar-icon" (click)="sideNav.toggle()">menu</mat-icon>
        <span>Application Title</span>
        <span class="spacer"></span>
        <mat-icon class="toolbar-icon">search</mat-icon>
        <mat-icon class="toolbar-icon" [matMenuTriggerFor]="userMenu">face</mat-icon>
      </mat-toolbar>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>perm_identity</mat-icon>
          <span>View profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      <div class="sidenav-content">
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
